*{
    margin: 0;
    padding: 0;
}
body {

}
.Container{
    width: 90%;
    margin: 0 auto;

}

h1{
    color: white;
}
#hero{
    background: url("./../src/IMG/main-screen__bgc.svg") no-repeat center/cover;
    min-height: 100vh;

}
#comp{
    background: black;
}
